#################
## Web Experience Factory
#################
.deployment
.classpath
.settings
.project
.bowstreet
~temp
dist

**/XmlFile*
**/xml_file_data_service/**
WebContent/WEB-INF/profiles
WebContent/jquery/
WebContent/jchartfx
WebContent/factory
WebContent/projectDeploy.xml
WebContent/index.jsp
WebContent/.excludeFromServer
WebContent/META-INF/
WebContent/WEB-INF/bin
WebContent/WEB-INF/factory
WebContent/WEB-INF/*.xml
WebContent/WEB-INF/bowst_webapp.tld
WebContent/WEB-INF/builders/com/bowstreet
WebContent/WEB-INF/builders/*.zip
WebContent/WEB-INF/classes
WebContent/WEB-INF/clientLibs
WebContent/WEB-INF/config
WebContent/WEB-INF/ibm-web-bnd.xmi
WebContent/WEB-INF/ibm-web-ext.xmi
WebContent/WEB-INF/lib
WebContent/WEB-INF/logs
WebContent/WEB-INF/lookup_definitions
WebContent/WEB-INF/manifests
WebContent/WEB-INF/models/factory
WebContent/WEB-INF/models/imports/factory
WebContent/WEB-INF/models/ExternalModelProperties.xml
WebContent/WEB-INF/properties
WebContent/WEB-INF/schemas
WebContent/WEB-INF/script_templates
WebContent/WEB-INF/spreadsheet
WebContent/WEB-INF/web.xml
WebContent/WEB-INF/work/lib
WebContent/WEB-INF/work/*.zip
WebContent/WEB-INF/work/classes
WebContent/WEB-INF/work/source/*.txt
